* {
  box-sizing: border-box;
}

.container {
  color: #333;
  margin: 0 auto;
  padding: 0.5em 1.5em 1.7em;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.slider {
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
